html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container-apps 
{
  padding: 20px;
  height: 50%;
  width: auto;
  border: solid 1px midnightblue;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.app-item-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: transform 0.2s, box-shadow 0.2s;
}

.app-item-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.app-item-btn .bi {
    font-size: 2.5rem; /* taille de l’icône */
    margin-bottom: 6px; /* espace entre icône et texte */
}

.page-nav 
{
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

tr {
    border-color: midnightblue;
    border: solid 1px;
}
td, th {
    padding: 5px;
}
.item {
    padding-left: 10px;
    background-color: lightblue;
}